@page
@model frontend.Pages.ThankYouPageModel
@{
	ViewData["Title"] = "Thank You";
}
@{
	Layout = "_SurveyLayout";
}


<div class="text-center">
	<h1 class="display-4">Your results have been submitted! Thank you for participating in the study!</h1>
</div>